.component-emoji-result-row {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px;
  height: 45px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.component-emoji-result-row:hover {
  background-color: rgba(238, 238, 238, 0.699);
}

.component-emoji-result-row img {
  width: 32px;
  height: 32px;
  margin-right: 30px;
}

.component-emoji-result-row .title {
  vertical-align: center;
}

.component-emoji-result-row .info {
  float: right;
  position: center;
  top: 8px;
  right: 10px;
  color: rgb(0, 136, 248);
  display: none;
}

.component-emoji-result-row:hover .info {
  display: inline-block;
}
